# .NET Core
*.obj
*.bin
*.suo
*.user
*.vscode
*.vs
*.sln
*.csproj.user
*.cache
*.log
project.lock.json
.project
.nuget
npm-debug.log

# Visual Studio Code
.vscode

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults*/

# Other files and folders
_UpgradeReport_Files/
Backup*/
[Tt]emp/
[Tt]emp/
[Tt]est[Tt]emp/
[Ii]ntermediate/
screenshots/
*.tmp/
*.bak/
*.cache/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.publishproj
*.user
*.userosscache
*.vsp
*.vspx
*.pidb
*.iobj
*.ipdb
*.opendb
*.myapp
*.dacpac
*.msi
*.nlm
*.lindb
*.rdl.data
*.rdl.deploy
*.rdl.i
*.rdl.l
*.rdl.m
*.rdl.obj
*.rdl.p
*.rdl.pp
*.rdl.r
*.rdl.rs
*.rdl.s
*.rdl.t
*.rdl.tp
*.rdl.ts
*.rptproj.rsuser
*.scc
*.tlb
*.tlh
*.tli
*.tmp_proj
*.shfbproj
*.kpf
*.knk
*.docstates
*.csx
*.cache
*.datasource
*.fakes
*.licx
*.xsc
*.xss
*.xsd
*.bml
*.isf
*.vspcc
*.vspx
*.rdlc
*.resx
*.svclog
*.xap
*.deploy
*.userload
*.dbmdl
*.edmx
*.addin
*.ipa
*.msix
*.msixbundle
*.vsix
*.vsixmanifest
*.appx
*.vssettings
*.vssscc
*.vspscc
*.vsmdi
*.vsc
*.libman.json
npm-debug.log
bower-debug.log
